@font-face {
  font-family: "iconfont"; /* Project id 4773414 */
  src: url('iconfont.woff2?t=1734068688098') format('woff2'),
       url('iconfont.woff?t=1734068688098') format('woff'),
       url('iconfont.ttf?t=1734068688098') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shanchu:before {
  content: "\e653";
}

.icon-sousuofangdajing:before {
  content: "\e621";
}

.icon-jijianfasong-xianxing:before {
  content: "\e893";
}

.icon-wenjian:before {
  content: "\e69c";
}

.icon-xiangce:before {
  content: "\e625";
}

.icon-youjiantou:before {
  content: "\e60b";
}

.icon-aislogo:before {
  content: "\e649";
}

.icon-xianxingchumotubiao:before {
  content: "\e674";
}

.icon-chumo:before {
  content: "\e6db";
}

.icon-fuzhi-:before {
  content: "\e648";
}

.icon-sync-copy:before {
  content: "\e607";
}

.icon-thin-_write_penc:before {
  content: "\e602";
}

.icon-qianbi:before {
  content: "\e661";
}

.icon-fuzhi:before {
  content: "\e65f";
}

.icon-tianjia:before {
  content: "\e65e";
}

.icon-yonghu:before {
  content: "\e60a";
}

.icon-jiqiren:before {
  content: "\e61a";
}

.icon-jiqiren1:before {
  content: "\e656";
}

.icon-jiqiren2:before {
  content: "\e8bb";
}

